*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
}
.jumbotron{
    background-image: url(../img/girls.jpg);
    
    height: 1000px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0px;
    padding: 200px;
    
}
.navbar-nav a{
    color: rgb(234, 235, 228)!important;
    margin: 0 20px;
    padding-top: 30px;
}
.navbar-toggler{
    color: rgb(156, 153, 158)!important;
    border: none!important;
    outline: none!important;

}
.navbar-toggler.fa{
    color: antiquewhite;
}
h1{
    font-family: 'Lobster',cursive;
    color: rgb(25, 183, 231);
    
}

p{
    font-family: sans-serif;
    color: rgb(41, 224, 12);
}

.jumbotron-fluid{
    background-image: url(../img/beautiful.jpg);
    
    
}

.container{

    height: 25%;
    width: 50%;
    background-image: url("https://images.unsplash");
    
    color: beige;


}
.img-jumbotron{
    background-image: url(../img/view.jpg);
}
.img-jmbo{
    background-image: url(../img/girl.jpg);
}
.hero{

    background-color: brown;
    color: black;
}
